shared:
  sites:
    - code: ord
      city: Chicago
      country: US
      geohash: dp3wnp

    - code: iad
      city: Washington
      country: US
      geohash: dqcjqb

    - code: sea
      city: Seattle
      country: US
      geohash: c23nb6
